html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-container .mat-dialog-container {
  max-height: 90vh !important;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
}

.mat-dialog-content {
  overflow: auto !important;
  flex: 1 1 auto;
}
