/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-container .mat-dialog-container {
  max-height: 90vh !important; /* max 90% of viewport height */
  overflow: hidden !important; /* prevents outer scrolling */
  display: flex;
  flex-direction: column;
}

.mat-dialog-content {
  overflow: auto !important;
  flex: 1 1 auto;
}
